GENERIC_TIMEZONE=Europe/Paris
TZ=Europe/Paris

N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS=true
N8N_SECURE_COOKIE=true

N8N_RUNNERS_MODE=external
N8N_PYTHON_ENABLED=true
N8N_RUNNERS_AUTH_TOKEN=your-secret-token-change-me
