tab {
    bind "Ctrl t" { SwitchToMode "normal"; }
    bind "r" { SwitchToMode "renametab"; TabNameInput 0; }

    bind "left" { GoToPreviousTab; }
    bind "down" { GoToNextTab; }
    bind "up" { GoToPreviousTab; }
    bind "right" { GoToNextTab; }

    bind "h" { GoToPreviousTab; }
    bind "j" { GoToNextTab; }
    bind "k" { GoToPreviousTab; }
    bind "l" { GoToNextTab; }

    bind "1" { GoToTab 1; SwitchToMode "normal"; }
    bind "2" { GoToTab 2; SwitchToMode "normal"; }
    bind "3" { GoToTab 3; SwitchToMode "normal"; }
    bind "4" { GoToTab 4; SwitchToMode "normal"; }
    bind "5" { GoToTab 5; SwitchToMode "normal"; }
    bind "6" { GoToTab 6; SwitchToMode "normal"; }
    bind "7" { GoToTab 7; SwitchToMode "normal"; }
    bind "8" { GoToTab 8; SwitchToMode "normal"; }
    bind "9" { GoToTab 9; SwitchToMode "normal"; }

    bind "H" { MoveTab "left"; SwitchToMode "normal"; }
    bind "L" { MoveTab "right"; SwitchToMode "normal"; }

    bind "u" { BreakPaneLeft; SwitchToMode "normal"; }
    bind "y" { BreakPaneRight; SwitchToMode "normal"; }

    bind "b" { BreakPane; SwitchToMode "normal"; }
    bind "n" { NewTab; SwitchToMode "normal"; }
    bind "s" { ToggleActiveSyncTab; SwitchToMode "normal"; }

    bind "x" { CloseTab; SwitchToMode "normal"; }

    bind "tab" { ToggleTab; }
}

renametab {
    bind "esc" { UndoRenameTab; SwitchToMode "tab"; }
}
