search {
    bind "c" { SearchToggleOption "CaseSensitivity"; }
    bind "n" { Search "down"; }
    bind "o" { SearchToggleOption "WholeWord"; }
    bind "p" { Search "up"; }
    bind "w" { SearchToggleOption "Wrap"; }
}
