shared_except "locked" {
    bind "Ctrl g" { SwitchToMode "locked"; }

    bind "Alt +" { Resize "Increase"; }
    bind "Alt -" { Resize "Decrease"; }
    bind "Alt =" { Resize "Increase"; }

    bind "Alt n" { NewPane; }
    bind "Alt i" { MoveTab "left"; }
    bind "Alt o" { MoveTab "right"; }

    bind "Alt f" { ToggleFloatingPanes; }
    bind "Alt p" { TogglePaneInGroup; }
    bind "Alt Shift p" { ToggleGroupMarking; }

    bind "Alt [" { PreviousSwapLayout; }
    bind "Alt ]" { NextSwapLayout; }

    bind "Alt x" { CloseFocus; }

    bind "Ctrl q" { Quit; }
}

shared_except "locked" "move" {
    bind "Ctrl h" { SwitchToMode "move"; }
}

shared_except "locked" "session" {
    bind "Ctrl o" { SwitchToMode "session"; }
}

shared_except "locked" "scroll" "search" {
    bind "Ctrl s" { SwitchToMode "scroll"; }
}

shared_except "locked" "tab" {
    bind "Ctrl t" { SwitchToMode "tab"; }
}

shared_except "locked" "pane" {
    bind "Ctrl p" { SwitchToMode "pane"; }
}

shared_except "locked" "resize" {
    bind "Ctrl n" { SwitchToMode "resize"; }
}

shared_except "normal" "locked" "entersearch" {
    bind "enter" { SwitchToMode "normal"; }
}

shared_except "normal" "locked" "entersearch" "renametab" "renamepane" {
    bind "esc" { SwitchToMode "normal"; }
}

shared_among "scroll" "search" {
    bind "Ctrl s" { SwitchToMode "normal"; }
    bind "Ctrl c" { ScrollToBottom; SwitchToMode "normal"; }

    bind "left" { PageScrollUp; }
    bind "down" { ScrollDown; }
    bind "up" { ScrollUp; }
    bind "right" { PageScrollDown; }

    bind "h" { PageScrollUp; }
    bind "j" { ScrollDown; }
    bind "k" { ScrollUp; }
    bind "l" { PageScrollDown; }

    bind "PageUp" { PageScrollUp; }
    bind "PageDown" { PageScrollDown; }

    bind "Ctrl b" { PageScrollUp; }
    bind "Ctrl f" { PageScrollDown; }

    bind "d" { HalfPageScrollDown; }
    bind "u" { HalfPageScrollUp; }
}

shared_among "renametab" "renamepane" {
    bind "Ctrl c" { SwitchToMode "normal"; }
}
